[Unit]
Description=Activate repo deployment on boot
DefaultDependencies=no
ConditionKernelCommandLine=repo.boot
ConditionPathExists=/etc/initrd-release
After=sysroot.mount
Requires=sysroot.mount
Before=initrd-root-fs.target
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=oneshot
ExecStart=/usr/libexec/repo-boot.sh /sysroot
StandardInput=null
StandardOutput=journal
StandardError=journal+console
RemainAfterExit=yes

[Install]
WantedBy=initrd-root-fs.target
